.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
}

.horizontalPart {
  width: 48vw;
  height: 93vh;
  background-color: blueviolet;
  border-radius: 10px;
  margin-top: 3vh;
}

.verticallyCentered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}