body, button, textarea, input {
  font-family: 'Roboto'  /* Replace 'Roboto' with your font name */
}

.promptInput {
  height: 40px;
}

.typeSelect {
  height: 40px;
}

select,
.promptInput,
.outputBox,
.apiKeyInput {
  font-size: 18px;
}


* {
  box-sizing: border-box; /* This ensures padding doesn't add extra width/height */
}

.mainContainer {
  width: 100vw;
  padding-top: 90px;
  height: 100vh;
  background-color: #151515;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
}

.horizontalPart {
  width: 48vw;
  background-color: #2a2a2a;
  border-radius: 10px;
  margin-top: 3vh;
  margin-bottom: 3vh;  /* Ensuring equal margin at the bottom */
  padding: 2vw;
  display: flex;  /* Added to control content within */
  flex-direction: column;  /* Set direction for the children */
  align-items: center;  /* Center content horizontally */
  justify-content: center;  /* Center content vertically */
}

.codeEntry {
  width: 96%;
  height: 90%;
  border-radius: 10px;
  padding: 1vw;
  margin: auto;
  background-color: #e2e0d8;
}

.verticallyCentered {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  height: 90%;
  width: 96%;
  padding: 2%;
}

select,
.promptInput,
.outputBox {
  width: 100%; 
  border-radius: 5px;
  padding: 0.5vh 1vw;
  margin-bottom: 1vh;
}

select, .promptInput {
  background-color: #e2e0d8;
}

.outputBox {
  background-color: #b3c6e7;
}

.promptInput {
  vertical-align: top;
  resize: none;  /* To prevent user from resizing the textarea */
  overflow-y: auto;  /* To allow scrolling when text overflows */
}

select {
  height: 8vh; 
}

.outputBox {
  flex-grow: 1;
  margin-top: 1vh;
  overflow-y: auto;
}

#prompt {
  height: 15vh;
}

.runButton {
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  background-color: #2b374d;
  color: white;
  margin-top: 1vh;
  border: none; /* Remove the default border */
}

.runButton:hover {
  background-color: #34495e;
}

.runButton:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.newButton {
  background-color: #2b374d;
  color: #fff;
}

.newButton:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.apiKeyInput {
  width: 100%;
  border-radius: 5px;
  padding: 0.5vh 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: #e2e0d8;
}

.roundedEditor {
  border-radius: 10px;
  overflow: hidden; /* Important, to clip the inner content by the border radius */
}

/* If there are nested elements within the editor that also need the radius, target them here */
.roundedEditor .ace_content, 
.roundedEditor .ace_scroller {
  border-radius: 10px;
}

.fileUploadWrapper {
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fileUploadWrapper:hover {
  background-color: #555;
  display: flex; /* Use flex layout for the container */
  align-items: center; /* Vertically center the logo and label */
}

.logo-container {
  position: absolute; /* Position absolutely within the parent */
  top: 0; /* Place at the top */
  left: 20px; /* Place at the left */
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.label {
  font-weight: bold;
  font-size: 30px;
  color: #8ac0df;
  margin-left: 2px;
  margin-top: 50px;
}

.logo {
  width: 100px;
  height: 100px;
}